# Discord Bot Token https://discord.com/developers/applications
BOT_TOKEN=
# Klipy API Key https://partner.klipy.com/api-keys
KLIPY_KEY=
# Self-hosted Ollama https://ollama.com/
OLLAMA_ENDPOINT=localhost:11434
# API Key for Ollama cloud models
OLLAMA_API_KEY=
# Self-hosted SearXNG https://github.com/searxng/searxng
SEARXNG_ENDPOINT=localhost:8080
# Container directory for persistent AI memory data
AI_MEMORY_DIR=/app/data
